/* Header */
header {
    height: 80px;
    background-color: #2c3e50;
}

.startboot .container,.startboot .row, .startboot .col,.startboot .col-12 {
    height: 100%;
}
.startboot .col {
    background-color: red;
}

ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
    text-align: end;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

/* Start bootstrap */

.startboot {
    background-color: #1abc9c;;
    height: 300px;
}

.msbox {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.square {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}

.star {
    padding-bottom: 1rem;
}

/* Portfolio */


.mjustify {
    align-items: center;
    padding-top: 2rem;
}


.debug{
    background-color: bisque;
}

.card {
    margin-bottom: 1rem;
}

.about {
    background-color: #1abc9c;
    color: white;
}

footer {
    background-color: #3a546d;
    padding-top:1rem;
}

footer .col-sm-12 {

    margin-bottom: 1rem;
}