/* Header */
header {
    height: 80px;
    background-color: #2c3e50;
}

.container {
    height:100% ;
}
ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
}

/* Start bootstrap */

.startboot {
    background-color: #1abc9c;;
    height: 300px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}

.star {
    padding-bottom: 1rem;
}

/* Portfolio */

.debug{
    background-color: bisque;
}

.card {
    margin-bottom: 1rem;
}

.about {
    background-color: #1abc9c;
    color: white;
}

footer {
    background-color: #3a546d;
    padding-top:1rem;
    color: white;
}

footer .col-sm-12 {

    margin-bottom: 1rem;
}

.bgc {
    background-color: #2c3e50;
    padding: 2rem 0 ;
}